nav{
display: flex;
justify-content: space-between; 
width: 100%;
background-color: gray;
padding-block: 30px;
margin-bottom: 20px;   
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
     
}
nav ul li a{
    text-decoration: none;
    color: white;
    
    font-size: 20px;
        margin-inline: 30px;
}